* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #151515, #0b0b0b);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  padding: 30px;
}

main > div {
  background: #0b0f1a;
  border-radius: 16px;
  color: white;
  padding: 10px;
}
#left-container {
  height: fit-content;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  #logo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  #ShapeBox {
    height: 50%;
    width: 100%;
    background-color: #0b0f1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    button {
      padding: 20px;
      background-color: transparent;
      border-radius: 10px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      border: 2px solid #ffffff;
      transition: all 0.3s ease;
      &:active {
        scale: 0.9;
      }
    }
  }
  #TextBox {
    height: fit-content;
    width: 100%;
    background-color: #0b0f1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    button {
      padding: 20px;
      background-color: transparent;
      border-radius: 10px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      border: 2px solid #ffffff;
      transition: all 0.3s ease;
      &:active {
        scale: 0.9;
      }
    }
  }
}
#Center {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
}
#right {
  height: 100%;
  width: 100%;
  background-color: #000000;
  #properties {
    height: fit-content;
    width: 100%;
    background-color: #0b0f1a;
    padding: 15px;
    border-radius: 10px;
    label {
      font-size: 20px;
      font-weight: 700;
    }
    .inner {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr;
      gap: 5px;
      button {
        padding: 5px;
        background-color: transparent;
        border: 2px white solid;
        border-radius: 5px;
        color: #ffffff;
        font-size: 15px;
      }
      input {
        padding: 5px;
        background-color: transparent;
        border: 2px white solid;
        border-radius: 5px;
        color: #ffffff;
        font-size: 15px;
      }
    }
    .innerclr {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      height: fit-content;
      gap: 5px;
      input {
        padding: 5px;
        background-color: transparent;
        border: 2px white solid;
        border-radius: 5px;
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
  #Delete, #download , #imageUpload {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: #0b0f1a;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:active {
      scale: 0.9;
    }
  }
}
#links {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
  }
  #imglink {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: red;
  margin: 20px !important;
  position: absolute;
}
.square {
  height: 50px;
  width: 50px;
  background-color: red;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: red;
}
.triangle {
  height: 50px;
  width: 100px;
  background-color: red;
}
