* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #070a24, #000233);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  padding: 30px;
}

main > div {
  background: #0b0f1a;   
  border-radius: 16px;
  color: white;
  padding: 10px;
}
#left-container{
    height: fit-content;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    #ShapeBox{
        height: 50%;
        width: 100%;
        background-color: #0B0F1A;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        button{
            padding: 20px;
            background-color: transparent;
            border-radius: 10px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #ffffff;
            transition: all 0.3s ease;
            &:active{
                scale: .90;
            }
        }
    }
    #TextBox{
        height: fit-content;
        width: 100%;
        background-color: #0B0F1A;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        button{
            padding: 20px;
            background-color: transparent;
            border-radius: 10px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #ffffff;
            transition: all 0.3s ease;
            &:active{
                scale: .90;
            }
        }
    }
}
#Center{
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}
#right{
    height: 100%;
    width: 100%;
    background-color: #000000;
    #properties{
        height: fit-content;
        width: 100%;
        background-color: #0b0f1a;
        padding: 15px;
        border-radius: 10px;
        label{
            font-size: 20px;
            font-weight: 700;
        }
        .inner{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr;
            gap: 5px;
            button{
                padding: 5px;
                background-color: transparent;
                border: 2px white solid;
                border-radius: 5px;
                color: #ffffff;
                font-size: 15px;
            }
            input{
                padding: 5px;
                background-color: transparent;
                border: 2px white solid;
                border-radius: 5px;
                color: #ffffff;
                font-size: 15px;
            }
            
        }
        .innerclr{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: fit-content;
            gap: 5px;
            input{
                padding: 5px;
                background-color: transparent;
                border: 2px white solid;
                border-radius: 5px;
                color: #ffffff;
                font-size: 15px;
            }
        }
    }
}
.rectangle{
    height: 50px;
    width: 100px;
    background-color: red;
    margin-left: 10px;
}
.square{
    height: 50px;
    width: 50px;
    background-color: red;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}
.triangle{
    height: 50px;
    width: 100px;
    background-color: red;
}
.selected {
  outline: 2px solid #ffd400;
}
